<div class="card m-3 bg-success text-white">
  <h3 class="card-header">
    About
  </h3>
  <div class="card-body bg-light text-dark">
    <p>
      This is a multiplayer, poker application for the browser which is still being actively
      developed. The
      stack being used is Spring Boot, Angular, MongoDB and the application will be deployed to AWS
      (current plan is to host the client on S3 and to host the backend using elastic beanstalk).
    </p>
    <p>
      Due to my inexperience with the technologies being used in this project, along with my
      inexperience when it comes to building a project of this size from scratch, it’s not really
      possible to foresee many of the problems I’ll face during development. In other words, it's
      not really possible to come up with a detailed plan ahead of time. At the time of starting the
      project, many details were unclear (such as how the backend would communicate with the
      frontend) and in order to figure these details out, I decided the best approach was to tackle
      this project in a series of small stages, where the complexity of various parts of the
      application would be slowly increased with each stage. The idea here is that if and when some
      problem with the current design emerged, the amount of refactoring would be as little as
      possible.
    </p>
    <h3>Project Roadmap</h3>
    <ol>
      <li>
        Implement the basic infrastructure needed for this kind of application. This includes things
        like setting up the Angular and Spring Boot projects, implementing a rudimentary user
        account system, setting up a database, designing and implementing a basic UI, setting up
        unit tests, etc...
      </li>
      <li>
        Design and implement the basic infrastructure required for players to create join and start
        games. For this kind of application, this involves designing and implementing some kind of
        interface for a player to create a game with specific parameters (such as the buy-in and
        maximum number of players), as well as some kind of interface for players to join games that
        have been created. Once players join a game, there needs to be some kind of lobby interface,
        where players can wait for more players to join before the game starts. In the background,
        there needs to be some system to track all of this as well, as in, some system that is
        tracking which games exist, which players are in these games, and so on.
      </li>
      <li>
        This point is where the small incremental steps begin. Poker is a fairly complex game, so
        before jumping straight into designing and implementing all the logic and interfaces needed
        for poker, I decided to start with something much simpler – a simple game that consists of
        players clicking a button to generate a random number between 1 and 100. Whoever rolls the
        highest number wins. The UI here will be every simple, just a “card” with text summarizing
        what has happened, i.e. “Jimmy McGee rolled 25.” There were a number of issues that were
        resolved in this stage, mostly related to the system being used to facilitate communication
        between the client and the backend.
      </li>
      <li>
        Increase the complexity of the roll game by adding rounds and a slightly more complex UI
        that summarizes what has happened in each round. A round consists of each player in the game
        rolling a number and the winner of a round is the player who rolled the highest number. At
        the end of the specified number of rounds, whoever had the highest score wins the game. The
        UI can be something like a table that shows what players have rolled and has some visual
        indicators of who won, whose turn it is, scores, etc… There were a number of issues that
        were resolved in this stage, mostly related to the system being used to handle events on the
        backend and displaying useful information in the UI.
      </li>
      <li>
        Increase the complexity of the multi-round roll game by replacing random numbers with random
        cards, as in, transitioning the “roll game” to a “draw game”. This involves representing
        cards programmatically, finding scalable card images (ideally .svg images) so that cards can
        be displayed at various sizes without losing quality, implementing a system for the client
        to display cards in an aesthetically pleasing manner (with tool-tips), etc… Many issues were
        resolved in this stage, mostly related to displaying cards effectively in the UI.
      </li>
      <li>
        Increase the complexity of the multi-round “draw game” by replacing the basic table UI with
        the typical UI used in most online poker games (a bird’s eye view of a poker table). Many
        issues were resolved in this stage, mostly related to displaying information effectively,
        with a good aesthetic, in the UI.
      </li>
      <li>
        At some point, add a player chat feature, so that players can chat with each other, and also
        so that system messages can be communicated unobtrusively (too much toast spam was becoming
        a problem).
      </li>
      <li>
        Transition the game from each player "drawing" a card, to being "dealt" a hidden card. After
        all players receive a card, a round of poker-style betting will occur before winner(s) are
        determined. Players will have the ability to fold, check, call and raise. Once the round of
        betting is finished, any players who are still in the hand (haven't folded) will have their
        cards compared and the player with the best card will win. There are some edge cases here
        where multiple players can win, which need to be fleshed out. Many issues were resolved in
        this stage related to the general flow of betting (there are many edge cases to account
        for), handling cases with side-pots properly, etc…
      </li>
      <li>
        Transition from being dealt one card, to being dealt two cards. This will involve
        implementing a hand ranking system, a more advanced UI (adding card dealing animation), and
        much more. Many issues related to edge cases where hands have the same rank, or with
        side-pots were resolved here. <b>This is the current stage of development.</b>
      </li>
      <li>
        The final stage where the complexity of the game is increased involves adding the full flow
        of a NL Hold ‘em game. Instead of one round of betting after being dealt card, the game will
        continue after the cards are dealt with another round of betting, followed by the flop, etc…
      </li>
      <li>
        Now that game logic is set in stone, some time can be spent polishing up the code by
        ensuring code is properly documented, code is clean (no needless repetition) and readable,
        etc… Everything is unit tested thoroughly, pre-conditions added everywhere to ensure game
        logic is air-tight.
      </li>
      <li>
        Add stat tracking and game replays.
      </li>
      <li>
        Look into hosting options for the backend (current plan is to use elastic beanstalk).
      </li>
    </ol>
  </div>
</div>
