# poker-server ignore
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Logging ###
/logs/*
/poker-server/logs/*
/poker-server/logs/
./poker-server/logs
./poker-server/logs/**

# poker-client ignore

# compiled output
/poker-client/dist
/poker-client/tmp
/poker-client/out-tsc
# Only exists if Bazel was run
/poker-client/bazel-out

# dependencies
/poker-client/node_modules

# profiling files
/poker-client/chrome-profiler-events*.json
/poker-client/speed-measure-plugin*.json

# IDEs and editors
/.idea
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/poker-client.vscode/*
/poker-client!.vscode/settings.json
/poker-client!.vscode/tasks.json
/poker-client!.vscode/launch.json
/poker-client!.vscode/extensions.json
/poker-client.history/*

# misc
/poker-client/.sass-cache
/poker-client/connect.lock
/poker-client/coverage
/poker-client/libpeerconnection.log
/poker-client/npm-debug.log
/poker-client/yarn-error.log
/poker-client/testem.log
/poker-client/typings

# System Files
.DS_Store
Thumbs.db
