<div class="deck">
  <img *ngFor="let offset of cards"
       [ngStyle]="{
      'position': 'absolute',
      'left': -offset + 'px',
      'top': -offset + 'px',
      'width': width + 'px'
    }"
       [src]="'assets/icons/cards/2B.svg'"
       alt="Card in the deck">
  <img
    #movingCard
    *ngIf="showMovingCard"
    [ngStyle]="{
      'position': 'absolute',
      'width': movingCardStyle.width + 'px',
      'top': movingCardStyle.top + 'px',
      'left': movingCardStyle.left + 'px',
      'opacity': movingCardStyle.opacity
    }"
    [src]="'assets/icons/cards/2B.svg'"
    alt="">
</div>
