<!--suppress HtmlFormInputWithoutLabel -->
<div class="container-fluid mx-0 px-0">
  <div class="card m-3">
    <h3 class="card-header bg-success text-light">
      How to Create a Game
    </h3>
    <div class="card-body">
      <p>
        To create a game, simply fill out the form below and click the create button. You will be
        taken to the game lobby
        where you can wait for more players to join.
      </p>
      <ul>
        <li>
          You must provide a name, specify the number of players, and a buy-in, for the game you're
          creating.
        </li>
        <li>
          You can start the game at any point when all players have clicked ready.
        </li>
        <li>
          The game doesn't need to be full in order to start.
        </li>
        <li>
          You need at least 2 people in the game before you can start.
        </li>
      </ul>
    </div>
  </div>
  <div class="card m-3">
    <h3 class="card-header bg-success text-light">Game Parameters</h3>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          Enter the desired game parameters below.
        </div>
      </div>
      <form (ngSubmit)="createGame(createGameForm.value)" [formGroup]="createGameForm">
        <div class="row">
          <div class="col-sm-6 mt-3">
            <label>Game Name</label>
            <input class="form-control" formControlName="name" type="text">
          </div>
          <div class="col-sm-6 px-0">
            <div class="container">
              <div class="row px-0">
                <div class="col-sm-6 mt-3">
                  <label>Max Players</label>
                  <select class="form-control" formControlName="maxPlayers">
                    <option *ngFor="let i of fillNumbers()">{{ i }}</option>
                  </select>
                </div>
                <div class="col-sm-6 mt-3">
                  <label>Buy-In</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input class="form-control numbers" formControlName="buyIn" type="number">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Starting Small Blind</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input
                class="form-control numbers"
                formControlName="startingSmallBlind"
                min="0"
                type="number">
            </div>
          </div>
          <div class="col-sm-4">
            <label>Increase Blinds Every</label>
            <div class="input-group">
              <input
                class="form-control numbers"
                disabled
                min="0"
                placeholder="Coming soon!"
                step="1"
                type="number">
              <div class="input-group-append">
                <div class="input-group-text">hands</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label>Turn Duration</label>
            <div class="input-group">
              <input
                class="form-control numbers"
                formControlName="turnDuration"
                min="0"
                step="1"
                type="number">
              <div class="input-group-append">
                <div class="input-group-text">seconds</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12 text-right">
            <button
              class="btn btn-secondary button mt-3"
              ngbTooltip="Click to reset the form"
              type="reset">Clear
            </button>
            <button
              [disabled]="!createGameForm.valid"
              class="btn btn-success button ml-3 mt-3"
              ngbTooltip="Click to create game"
              type="submit">Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
