<div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" routerLink="/home">
            <img [src]="icon" style="width: 40px; height: 40px;">
        </a>
        <div class="collapse navbar-collapse d-flex">
          <ul class="navbar-nav">
            <li [ngClass]="{ 'nav-item': true, 'active': router.url == '/home'}" *ngIf="true">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item dropdown">
                <div ngbDropdown class="d-inline-block">
                    <a [ngClass]="{ 
                    'nav-link': true, 
                    'dropdown-toggle': true,
                    'btn': true,
                    'active': router.url == '/create-account' || router.url == '/manage-staff'
                    }" id="navbarDropdown" role="button" ngbDropdownToggle>Game</a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a ngbDropdownItem [ngClass]="{ 'dropdown-item': true }" routerLink="/login" *ngIf="true">Create</a>
                    <a ngbDropdownItem [ngClass]="{ 'dropdown-item': true }" routerLink="/login" *ngIf="true">Join</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div ngbDropdown class="d-inline-block">
                    <a [ngClass]="{ 
                    'nav-link': true, 
                    'dropdown-toggle': true,
                    'btn': true,
                    'active': router.url == '/create-account' || router.url == '/manage-staff'
                    }" role="button" ngbDropdownToggle>Account</a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a ngbDropdownItem [ngClass]="{ 'dropdown-item': true }" routerLink="/login" *ngIf="true">Register</a>
                        <a ngbDropdownItem [ngClass]="{ 'dropdown-item': true }" routerLink="/login" *ngIf="true">Login</a>
                        <a ngbDropdownItem [ngClass]="{ 'dropdown-item': true }" routerLink="/login" *ngIf="true">Edit Profile</a>
                        <a ngbDropdownItem [ngClass]="{ 'dropdown-item': true }" routerLink="/login" *ngIf="true">View Statistics</a>
                    </div>
                </div>
            </li>           

          </ul>
        </div>
      </nav>
</div>