/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* We're using a green theme here, so let's make input focus green */
.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

$top-bar-height: 70px;

$button-width: 130px;
$roll-cell-width: 64px;
$roll-cell-height: 80px;
$button-size-md: 100px;
$toast-xs: 100px;
$toast-sm: 200px;
$toast-md: 300px;
$toast-lg: 400px;
$toast-xl: 500px;

html, body {
  height: 100%;
}

.top-bar {
  height: $top-bar-height;
}

.btn-size-md {
  width: $button-size-md;
}

.roll-cell {
  width: $roll-cell-width;
  height: $roll-cell-height;
}

.toast-xs {
  width: $toast-xs;
  text-align: center;
  transform: scaleY(-1);
}

.toast-sm {
  width: $toast-sm;
  text-align: center;
  transform: scaleY(-1);
}

.toast-md {
  width: $toast-md;
  text-align: center;
  transform: scaleY(-1);
  // TODO: Add this transformation to general purpose toast class
}

.toast-lg {
  width: $toast-lg;
  text-align: center;
  transform: scaleY(-1);
}

.toast-xl {
  width: $toast-xl;
  text-align: center;
  transform: scaleY(-1);
}
