.container-fluid {
  height: 66px;
}

.image {
  height: 40px;
  width: 40px;
}

@media (min-width: 0) {
  .navbar-nav {
    flex-direction: row;
  }
  .navbar {
    flex-flow: row nowrap !important;
  }
  .navbar-nav, .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .dropdown-menu {
    position: absolute !important;
  }
}
