<div class="card m-3 bg-success text-white">
  <h3 class="card-header">Chat</h3>
  <div class="card-body bg-light text-dark pb-0">
    <div class="chat-message-box-container">
      <div #chatBox class="chat-message-box small">
        <pkr-chat-message
          *ngFor="let message of messages"
          [message]="message"></pkr-chat-message>
      </div>
    </div>
  </div>
  <div class="card-body bg-light text-dark">
    <div class="input-group input-group-sm">
      <input
        #chatInput
        (keyup.enter)="sendMessage()"
        [disabled]="!(authenticated$ | async)"
        [placeholder]="(authenticated$ | async) ? 'Enter text...' : 'Sign in to chat...'"
        class="form-control shadow-none send-input"
        type="text">
      <div class="input-group-append">
        <button
          (click)="sendMessage()"
          [disabled]="!(authenticated$ | async)"
          class="btn btn-success shadow-none">Send
        </button>
      </div>
    </div>
  </div>
</div>
