.xs {
  width: 40px;
  height: auto;
}

.sm {
  width: 80px;
  height: auto;
}

.md {
  width: 100px;
  height: auto;
}

.lg {
  width: 160px;
  height: auto;
}

.xl {
  width: 220px;
  height: auto;
}
