<div class="container-fluid mx-0 px-0">
  <div class="card m-3">
    <h3 class="card-header bg-success text-light">Filter Games</h3>
    <div class="card-body">
      <p>We will have a basic form here that will filter the list of games at some point.</p>
      <p>
        Since we don't have enough testers to test filtering, we won't focus on adding this yet.
        In the meantime, we can leave this box here so the page doesn't look so empty.
      </p>
    </div>
  </div>
  <div class="card m-3">
    <h3 class="card-header bg-success text-light">Available Games</h3>
    <div *ngIf="totalGames > 0" class="card-body">
      <table class="table table-hover table-striped small">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th class="text-center" scope="col">Host</th>
          <th class="text-center" scope="col">Players</th>
          <th class="text-center" scope="col">Buy-In</th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="showConfirmationPopup(game)" *ngFor="let game of games">
          <td>{{ game.parameters.name }}</td>
          <td class="text-center">{{ game.host.firstName }} {{ game.host.lastName }}</td>
          <td class="text-center">{{ game.currentPlayers }}/{{ game.parameters.maxPlayers }}</td>
          <td class="text-center">{{ game.parameters.buyIn | currency }}</td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [(page)]="page"
          [collectionSize]="totalGames"
          [ellipses]="true"
          [maxSize]="3"
          [pageSize]="pageSize"
          [rotate]="true"></ngb-pagination>
        <select [(ngModel)]="pageSize" class="custom-select" style="width: auto">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="15">15 items per page</option>
        </select>
      </div>
    </div>
    <div *ngIf="totalGames === 0" class="card-body">
      <p>There are no games available right now. Perhaps you would like to <a routerLink="/create">create</a>
        one?</p>
    </div>
  </div>
</div>
<pkr-popup
  #popup
  [content]="popupContent"
  [okCloseProcedure]="popupOkCloseProcedure"
  title="Join Game"></pkr-popup>
