<div class="card m-3 bg-success text-white">
  <h3 class="card-header">
    Welcome
  </h3>
  <div class="card-body bg-light text-dark">
    <p>
      This is an experimental online, multiplayer, poker application. This application was made
      using
      Spring Boot, Angular, MongoDB and will be deployed to AWS (S3 for client, elastic beanstalk
      for
      backend).
    </p>
    <p>
      Currently, the poker game has not yet been implemented. In its place is a simple card drawing
      game. The complexity of this simple game will steadily increase until it becomes a proper NL
      Hold'em sit n go style game. Once this point is reached, it may evolve further into other
      card games, cash games, etc...
    </p>
  </div>
</div>
<pkr-poker-table [numPlayers]="10"></pkr-poker-table>
<pkr-chat-box></pkr-chat-box>
<span class="align-middle">
  <ngb-carousel *ngIf="images" class="m-3" style="outline: none;">
    <ng-template *ngFor="let image of images" ngbSlide>
      <div class="picsum-img-wrapper rounded" style="outline: none;">
          <img [src]="image" alt="Random first slide" class="img-fluid rounded-lg">
      </div>
    </ng-template>
  </ngb-carousel>
</span>
