<!--<pkr-poker-table design="true"></pkr-poker-table>-->
<div class="card m-3 bg-success text-white">
  <h3 class="card-header">
    Welcome
  </h3>
  <div class="card-body bg-light text-dark">
    <p>
      No games to join? Try hosting a game, maybe someone will join, or you can try chatting below.
    </p>
  </div>
</div>
<pkr-chat-box></pkr-chat-box>
<span class="align-middle">
  <ngb-carousel *ngIf="images" class="m-3" style="outline: none;">
    <ng-template *ngFor="let image of images" ngbSlide>
      <div class="picsum-img-wrapper rounded" style="outline: none;">
          <img [src]="image" alt="Random first slide" class="img-fluid rounded-lg">
      </div>
    </ng-template>
  </ngb-carousel>
</span>
