<div class="player-box-container">
  <div class="player-box-avatar">
    {{initials}}
  </div>
  <div class="card-box">
    <div *ngIf="cards[0] && !hiddenCards[0]" class="card-container left">
      <pkr-card [card]="cards[0]" size="md"></pkr-card>
    </div>
    <div *ngIf="cards[1] && !hiddenCards[1]" class="card-container right">
      <pkr-card [card]="cards[1]" size="md"></pkr-card>
    </div>
  </div>
  <div class="name-box">
    <div class="name">
      {{name}}
    </div>
    <div class="chips">
      {{bankRoll | currency}}
    </div>
  </div>
  <div *ngIf="true" [ngStyle]="{
      'left': positions.iconBox.left + 'px',
      'top': positions.iconBox.top + 'px'
    }" class="icon-containers">
    <img *ngIf="dealer" [src]="dealerButtonPath" alt="" ngbTooltip="Dealer">
    <img *ngIf="away" [ngStyle]="{
      'position': 'absolute',
      'top': positions.awayIcon.top + 'px',
      'left': positions.awayIcon.left + 'px'
    }" [src]="awayIconPath" alt="" ngbTooltip="Away">
  </div>
  <div [ngStyle]="{
      'left': positions.chipsBox.left + 'px',
      'top': positions.chipsBox.top + 'px'
  }" class="chips-box">
    {{ currentBet === 0 ? '' : (currentBet | currency) }}
  </div>
</div>
