<div class="player-box-container" id="playerBoxContainer">
  <div class="player-box-avatar" id="playerBoxAvatar">{{initials}}</div>
  <div class="card-box" id="cardBox">
    <div *ngIf="cards[0] && !hiddenCards[0]" class="card-container left" id="cardContainerLeft">
      <pkr-card [card]="cards[0]" id="firstCard" size="md"></pkr-card>
    </div>
    <div *ngIf="cards[1] && !hiddenCards[1]" class="card-container right" id="cardContainerRight">
      <pkr-card [card]="cards[1]" id="secondCard" size="md"></pkr-card>
    </div>
  </div>
  <div class="name-box" id="nameBox">
    <div class="name" id="name">{{name}}</div>
    <div class="chips" id="chips">{{bankRoll | currency}}</div>
  </div>
  <div [ngStyle]="{
      'left': positions.iconBox.left + 'px',
      'top': positions.iconBox.top + 'px'
    }" class="icon-containers" id="iconContainer">
    <img *ngIf="dealer" [src]="dealerButtonPath" alt="" id="dealerButton" ngbTooltip="Dealer">
    <img *ngIf="away" [ngStyle]="{
      'position': 'absolute',
      'top': positions.awayIcon.top + 'px',
      'left': positions.awayIcon.left + 'px'
    }" [src]="awayIconPath" alt="" id="awayIcon" ngbTooltip="Away">
  </div>
  <div [ngStyle]="{
      'left': positions.chipsBox.left + 'px',
      'top': positions.chipsBox.top + 'px'
  }" class="wager-box" id="wagerBox">{{ currentBet === 0 ? '' : (currentBet | currency) }}</div>
</div>
