/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$button-width: 130px;
$toast-xs: 100px;
$toast-sm: 200px;
$toast-md: 300px;
$toast-lg: 400px;
$toast-xl: 500px;

.toast-xs {
    width: $toast-xs;
    text-align: center;
}

.toast-sm {
    width: $toast-sm;
    text-align: center;
}

.toast-md {
    width: $toast-md;
    text-align: center;
}

.toast-lg {
    width: $toast-lg;
    text-align: center;
}

.toast-xl {
    width: $toast-xl;
    text-align: center;
}
