<div [ngStyle]="{
    'width': width + 'px',
    'height': height + 'px'
  }" class="poker-table-container">
  <div [ngStyle]="{
    'width': tableWidth + 'px',
    'height': tableHeight + 'px',
    'border-radius': tableBorderRadius + 'px',
    'left': leftTableOffset + 'px',
    'top': topTableOffset + 'px'
  }" class="poker-table">
    <div [ngStyle]="{
      'top': logoPosition.top + 'px',
      'left': logoPosition.left + 'px'
    }" class="table-logo">
      <img [ngStyle]="{'width': logoPosition.logoWidth + 'px'}" [src]="'assets/icons/aces.svg'"
           alt="">
    </div>
    <pkr-deck [ngStyle]="{
      'position': 'absolute',
      'top': deckPosition.top + 'px',
      'left': deckPosition.left + 'px'
    }" [width]="deckPosition.width"></pkr-deck>
    <pkr-community-cards
      [ngStyle]="{
        'position': 'absolute',
        'top': communityCardsPosition.top + 'px',
        'left': communityCardsPosition.left + 'px'
      }"
      [width]="communityCardsPosition.width"
    ></pkr-community-cards>
    <pkr-player-box
      *ngFor="let playerBox of playerBoxes"
      [ngStyle]="{
      'position': 'absolute',
      'top': playerBox.top + 'px',
      'left': playerBox.left + 'px'
    }"
      [player]="playerBox.number"></pkr-player-box>
  </div>
  <pkr-hand-summary
    [ngStyle]="{
        'position': 'absolute',
        'top': '100px',
        'left': width / 2 - 300 + 'px'
    }"
    [width]="deckPosition.width"></pkr-hand-summary>
  <div class="button-box">
    <button (click)="setStatusToAway()" [disabled]="away" class="btn btn-light">Away</button>
    <span class="turn-timer">{{timerValue[timerIndex]}}</span>
    <!--    <button (click)="draw()" [disabled]="!acting" class="btn btn-success">Draw</button>-->
  </div>
  <pkr-table-controls [ngStyle]="{
    'position': 'absolute',
    'width': '840px',
    'left': width / 2 - 280 + 'px',
    'bottom': 10 + 'px'
  }"></pkr-table-controls>
</div>
<pkr-popup-afk #afkPopup></pkr-popup-afk>
